canvas {
    background-image: url('static/maps/map1_CA2.png'); /* Path to your tilesheet */
    background-color: black;
   
}

#canvasDiv {
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    background-color: #9DF9BB;
}

.guide {
    display: inline-block;
    margin-right: 50px;
    margin-left: 50px;
}

nav {
    background-color: #333;
    padding: 10px 0;
}


.nav_button, a.button {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #333;
    border: none;
    cursor: pointer;
    display: inline-block;
    border-radius: 5px;
    width: 100px;
}

.nav_button:hover, input[type="submit"]:hover, a.button:hover {
    background-color: #555;
}

.link {
    display: block;
}